# .env.example

# ACCESS_TOKEN is used for authenticating API requests to Meta's Threads app and Threads.net,
# Provide your token by setting this environment variable.
# Required: No default.
ACCESS_TOKEN=""

# DRAFTS_FILE specifies the file name or path for saving draft data.
# Optional: Default = "drafts.json"
#DRAFTS_FILE="drafts.json"
